@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add a better focus indicator to everything */
*:focus-visible {
  outline: 2px solid white;
}

/* Theme variables */
:root {
  --bg-color: #323437;
  --text-color: #d1d0c5;
  --brand-color: #698c9d;

  --reader-font: sans-serif;
  --monospace-font: monospace;

  --reader-text-color: #d1d0c5;
  --code-text-color: #d1d0c5;

  --base-font-size: 24px;
}
