/* Add a better focus indicator to everything */
@media not (prefers-reduced-motion) {
  a {
    outline-color: var(--alt-prose-color);
    transition: text-decoration 250ms, outline-color 250ms;
  }
}

a:focus-visible, a:hover {
  text-decoration-color: #00000000;
}

a:focus-visible {
  outline: 2px solid var(--emphasis-prose-color);
}

/* Theme variables */
:root {
  font-size: 18px;
  line-height: 1.5em;
  font-family: Helvetica;

  color-scheme: light dark;

  --main-prose-color: #333;
  --alt-prose-color: #d4d0c940;
  --link-prose-color: #5a1515;
  --emphasis-prose-color: #971a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-prose-color: #c7beb4;
    --alt-prose-color: #151316;
    --link-prose-color: #d58080;
    --emphasis-prose-color: #dd3a31;
  }
}

html, body {
  margin: 0px;
  min-height: 100vh;
  background-color: var(--alt-prose-color);
  color: var(--main-prose-color);
}

a {
  color: var(--link-prose-color);
  text-decoration-color: var(--emphasis-prose-color);
  text-decoration-thickness: .125em;
  text-underline-offset: 2px;
}

pre {
  overflow: auto;
}

code {
  font-family: var(--mono-font), monospace;
}

svg {
  color: var(--main-prose-color);
}

/* The main 'app' from Nextjs */
body > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1ch;
}

header {
  display: flex;
  justify-content: space-between;
  width: min(140ch, 100%);
  padding-top: 1ch;
}

@media print {
  header, footer {
    visibility: hidden;
  }
}

header h1 {
  font-size: inherit;
  margin: 0;
}

header > nav, header > address {
  display: flex;
  gap: 1.5ch;
  margin-left: 1.5ch;
  margin-right: 1.5ch;
}

main {
  flex-grow: 1;

  display: grid;
  align-content: start;
  grid-template-columns:
    minmax(1ch, 1fr)
    min(65ch, calc(100% - 2ch))
    minmax(1ch, 1fr);
}

main > * {
  grid-column: 2;
}
