---
import type { AstroInstance } from "astro";
import Layout from "@layouts/Layout.astro";

type BlogData = AstroInstance &
  Partial<{
    title: string;
    description: string;
    date: Date;
  }>;

// Find all the blogposts in the /posts/ folder, pick the last 3, import them,
// and pull summary info for display
const posts = await Promise.all(
  Object.values(import.meta.glob<BlogData>("./posts/*.astro")).map((f) => f()),
).then((posts) =>
  posts
    .filter((post) => post.date)
    .sort((a, b) => {
      const aTime = a.date?.getTime() ?? 0;
      const bTime = b.date?.getTime() ?? 0;
      return bTime - aTime;
    })
    .slice(0, 3),
);
---

<Layout title="Blog Index">
  {
    posts.map((post) => (
      <article>
        <h2>
          <a href={post.url}>{post.title}</a>{" "}
        </h2>
        <p>{post.description}</p>
      </article>
    ))
  }
</Layout>

<style>
  article {
    padding: 0.4em;

    & > h2 {
      margin: 0;
    }
    & > p {
      padding-left: 2ch;
    }
  }
</style>
