.article {
  text-align: justify;

  display: grid;
  grid-template-columns: subgrid;

  /* set OURSELVES to capture the soft-gutter */
  grid-column: var(--column-full);

  & > * {
    /* Tell OUR children to default to the content column */
    --column-content: 2;
    --column-full: 1 / -1;
    grid-column: var(--column-content);
  }
}
