---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Resume">
  <article class="resume">
    <section class="introduction">
      <div>
        <h1>Travis Fletcher</h1>
        <span> Full Stack Senior Software Engineer </span>
      </div>
      <address>
        <div>
          <a href="https://github.com/Seacant"> GitHub @ Seacant </a>
        </div>
        <div>
          <a href="https://tfletch.tech"> tfletch.tech </a>
        </div>
        <div>
          <a href="mailto:contact@tfletch.tech"> contact@tfletch.tech </a>
        </div>
      </address>
    </section>
    <section>
      <h2>Technical Skills</h2>
      <div>
        Languages:
        <div class="section-prose">
          <span data-highlight="ts">Typescript</span>,
          <span data-highlight="ruby">Ruby</span>,
          <span data-highlight="css">HTML/CSS</span>,
          <span data-highlight="perl">Perl</span>,
          <span data-highlight="sql">SQL</span>, Rust
        </div>
      </div>
      <div>
        Technologies:
        <div class="section-prose">React, Ruby on Rails, Terraform, AWS</div>
      </div>
      <div>
        Techniques:
        <div class="section-prose">
          <span data-highlight="DDD">Domain-Driven Design</span>,
          <span>Functional Programming</span>,
          <span data-highlight="TDD">Test-Driven Development</span>
        </div>
      </div>
      <div>
        Specialties:
        <div class="section-prose">
          <span data-highlight="arch">Software/Feature Architecture</span>,
          <span data-highlight="perf">Performance & Scalability</span>,
          <span data-highlight="a11y">Accessibility</span>, Machine Learning
        </div>
      </div>
    </section>
    <section>
      <h2>Education</h2>
      <div>
        <span class="company-name"> Northern Kentucky University </span>
        <span class="year">2017–2021</span>
        <div class="section-prose">Data Science Major & Management Minor</div>
      </div>
    </section>
    <section>
      <h2>Employment</h2>
      <div>
        <span class="company-name"> ExamSpark </span>
        <div class="section-prose">
          <span data-highlight-target="ts css"> Senior Software Engineer</span>
          <span class="year">2023–</span>
        </div>
        <ul>
          <li>
            Developed in cutting-edge cloud-native AWS Amplify environment via
            full-stack Typescript.
          </li>
        </ul>
      </div>
      <div>
        <span class="company-name"> Instructure </span>
        <div class="section-prose">
          <span data-highlight-target="ruby sql ts css"
            >Senior Software Engineer</span
          >
          <span class="year">2022–2023</span>
        </div>
        <div class="section-prose">
          <span data-highlight-target="perl sql ts css">
            Software Engineer
          </span>
          <span class="year">2021–2022</span>
        </div>
        <ul>
          <li>
            Maintained and scaled Ruby on Rails app with <span
              data-highlight-target="perf"
              >10000+ Rps across 500+ servers.
            </span>
          </li>
          <li>
            Worked extensively with Product to plan projects that solved
            customer needs.
          </li>
          <li>
            Led technical discussions during <span
              data-highlight-target="DDD arch"
              >Software Architecture Planning.</span
            >
          </li>
          <li>
            <span data-highlight-target="a11y"
              >Championed accessible web design</span
            > during front-end discussions.
          </li>
        </ul>
      </div>
      <div>
        <span class="company-name"> Northern Kentucky University </span>
        <div class="section-prose">
          Research Assistant
          <span class="year">2018–2019</span>
        </div>
        <ul>
          <li>
            Developed an Internet of Things security management solution, Java
            Experience.
          </li>
          <li>Presented findings at NKU Celebration of Student Research.</li>
        </ul>
      </div>
      <div>
        <span class="company-name"> Certica Solutions </span>
        <div class="section-prose">
          <span data-highlight-target="perl css sql">Software Engineer </span>
          <span class="year">2019–2021</span>
        </div>
        <div class="section-prose">
          <span data-highlight-target="perl css sql">
            Junior Software Engineer
          </span>
          <span class="year">2015–2019</span>
        </div>
        <ul>
          <li>
            Provide front-end website and database support to both internal and
            external clients.
          </li>
          <li>Develop unit tests for legacy monolithic codebase.</li>
          <li>
            Maintain a RESTful JSON API with a
            <span data-highlight-target="TDD">
              full regression testing suite.
            </span>
          </li>
          <li>
            <span data-highlight-target="DDD arch">
              Use domain-driven design to retrofit OOP to codebase.
            </span>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <h2>Experience</h2>
      <div>
        RevolutionUC
        <span class="year year--single">2017</span>
        <div class="section-prose">24-hour hackathon</div>
        <div class="section-prose">
          V-Arrrgh - Virtual Reality therapy program for Amblyopia, C#; 1st
          place
        </div>
      </div>
      <div>
        FTC Robotics
        <span class="year">2015–2017</span>
        <div class="section-prose">Lead Programmer</div>
        <div class="section-prose">
          Java, Android Studio, Github, Gradle, and Vim
        </div>
        <div class="section-prose">
          Created a robot using Java to compete in predetermined challenges
        </div>
      </div>
    </section>
  </article>
</Layout>
<style>
  @font-face {
    font-family: "Inconsolata";
    src: url("/fonts/inconsolata.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  article.resume {
    max-width: 7.5in;
    margin: auto;

    display: flex;
    flex-direction: column;
    grid-column: var(--column-full);
    gap: 1ch;

    font-family: Inconsolata, monospace;
    line-height: 1.2em;
    font-weight: 500;

    & ul {
      margin-block: 0.25em;
    }

    @media print {
      font-size: 14px;
      line-height: 16px;
      color: black;

      /* The default browser print adds its own margins, so turn ours off. */
      max-width: 8.5in;
      margin: 0;

      & a {
        text-decoration: none;
        color: black;
      }
    }
  }

  section {
    display: contents;
    break-before: auto;
    break-inside: avoid;
  }

  .company-name {
    font-style: italic;
  }

  .year {
    float: right;

    /* 20xx-20xx is 9 characters */
    width: 9ch;
  }

  .year--single {
    width: 5ch;
  }

  .section-prose {
    margin-left: 2ch;

    & > .year {
      margin-left: auto;
    }
  }

  .introduction {
    display: flex;
    justify-content: space-between;

    & > address {
      text-align: right;

      /* leave some room for focus outline */
      & > div {
        padding-block: 2px;
      }
    }
  }

  h2 {
    text-transform: uppercase;
    margin: 0;
    line-height: 1.1em;
  }

  @media not print {
    span::highlight(skill-callout) {
      background-color: color-mix(
        in srgb,
        color-mix(in srgb, yellow, black 10%),
        transparent 80%
      );
      font-weight: bold;
    }
    span[data-highlight].highlight-enabled {
      cursor: pointer;
      text-decoration: underline;
      text-decoration-style: dotted;
      text-underline-offset: 4px;

      &:focus-visible {
        outline-offset: 1px;
        text-decoration: none;
        outline: 2px solid var(--secondary-link-color);
        border-radius: 3px;
      }
    }
  }
</style>
<script>
  const descriptors =
    document.querySelectorAll<HTMLSpanElement>("[data-highlight]");
  descriptors.forEach((descriptor) => {
    descriptor.tabIndex = 0;
    descriptor.ariaKeyShortcuts = "Space";
    descriptor.classList.add("highlight-enabled");

    const highlight = descriptor.dataset.highlight;
    const setter = () => {
      const ranges: AbstractRange[] = [];
      document
        .querySelectorAll(`[data-highlight-target~="${highlight}"]`)
        .forEach((target) => {
          console.debug("Highlighting", target);
          const range = new Range();
          range.selectNodeContents(target);
          ranges.push(range);
        });

      CSS.highlights.set("skill-callout", new Highlight(...ranges));
    };

    descriptor.addEventListener("click", setter);
    descriptor.addEventListener("keydown", (e) => {
      if (e.key !== " ") return;
      setter();
    });
  });
</script>
