---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Resume">
  <article class="resume">
    <section class="introduction">
      <div>
        <h1>Travis Fletcher</h1>
        <span> Full Stack Senior Software Engineer </span>
      </div>
      <address>
        <div>
          <a href="https://github.com/Seacant"> GitHub @ Seacant </a>
        </div>
        <div>
          <a href="https://tfletch.tech"> tfletch.tech </a>
        </div>
        <div>
          <a href="mailto:contact@tfletch.tech"> contact@tfletch.tech </a>
        </div>
      </address>
    </section>
    <section>
      <h2>Technical Skills</h2>
      <div>
        Languages:
        <div class="skill-list">
          <span data-highlight="ts">Typescript</span>,
          <span data-highlight="ruby">Ruby</span>,
          <span data-highlight="css">HTML/CSS</span>,
          <span data-highlight="perl">Perl</span>,
          <span data-highlight="sql">SQL</span>, Rust
        </div>
      </div>
      <div>
        Technologies:
        <div class="skill-list">React, Ruby on Rails, Terraform, AWS</div>
      </div>
      <div>
        Techniques:
        <div class="skill-list">
          <span data-highlight="DDD">Domain-Driven Design</span>,
          <span>Functional Programming</span>,
          <span data-highlight="TDD">Test-Driven Development</span>
        </div>
      </div>
      <div>
        Specialties:
        <div class="skill-list">
          <span data-highlight="arch">Software/Feature Architecture</span>,
          <span data-highlight="perf">Performance & Scalability</span>,
          <span data-highlight="a11y">Accessibility</span>, Machine Learning
        </div>
      </div>
    </section>
    <section>
      <h2>Education</h2>
      <div>
        <span>Northern Kentucky University</span>
        <span class="years">2017–2021</span>
        <div class="job-title">Data Science Major & Management Minor</div>
      </div>
    </section>
    <section>
      <h2>Employment</h2>
      <div>
        <h3 class="company-name">ExamSpark</h3>
        <div class="job-title">
          <span data-highlight-target="ts css"> Senior Software Engineer</span>
          <span class="years">2023–</span>
        </div>
        <ul>
          <li>
            Developed in cutting-edge cloud-native AWS Amplify environment via
            full-stack Typescript.
          </li>
        </ul>
      </div>
      <div>
        <h3 class="company-name">Instructure</h3>
        <div class="job-title">
          <span data-highlight-target="ruby sql ts css"
            >Senior Software Engineer</span
          >
          <span class="years">2022–2023</span>
        </div>
        <div class="job-title">
          <span data-highlight-target="perl sql ts css">
            Software Engineer
          </span>
          <span class="years">2021–2022</span>
        </div>
        <ul>
          <li>
            Maintained and scaled Ruby on Rails app with <span
              data-highlight-target="perf"
              >10000+ Rps across 500+ servers.
            </span>
          </li>
          <li>
            Worked extensively with Product to plan projects that solved
            customer needs.
          </li>
          <li>
            Led technical discussions during <span
              data-highlight-target="DDD arch"
              >Software Architecture Planning.</span
            >
          </li>
          <li>
            <span data-highlight-target="a11y"
              >Championed accessible web design</span
            > during front-end discussions.
          </li>
        </ul>
      </div>
      <div>
        <h3 class="company-name">Northern Kentucky University</h3>
        <div class="job-title">
          Research Assistant
          <span class="years">2018–2019</span>
        </div>
        <ul>
          <li>
            Developed an Internet of Things security management solution, Java
            Experience.
          </li>
          <li>Presented findings at NKU Celebration of Student Research.</li>
        </ul>
      </div>
      <div>
        <h3 class="company-name">Certica Solutions</h3>
        <div class="job-title">
          <span data-highlight-target="perl css sql">Software Engineer </span>
          <span class="years">2019–2021</span>
        </div>
        <div class="job-title">
          <span data-highlight-target="perl css sql">
            Junior Software Engineer
          </span>
          <span class="years">2015–2019</span>
        </div>
        <ul>
          <li>
            Provide front-end website and database support to both internal and
            external clients.
          </li>
          <li>Develop unit tests for legacy monolithic codebase.</li>
          <li>
            Maintain a RESTful JSON API with a
            <span data-highlight-target="TDD">
              full regression testing suite.
            </span>
          </li>
          <li>
            <span data-highlight-target="DDD arch">
              Use domain-driven design to retrofit OOP to codebase.
            </span>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <h2>Experience</h2>
      <div>
        <span>RevolutionUC</span>
        <div class="experience-description">
          <span class="year">2017</span>
          <div>24-hour hackathon</div>
          <div>
            V-Arrrgh - Virtual Reality therapy program for Amblyopia; 1st Place
          </div>
        </div>
      </div>
      <div>
        <span>FTC Robotics</span>
        <div class="experience-description">
          <span>Lead Programmer</span>
          <span class="years">2015–2017</span>
          <div>Java, Android Studio, Github, Gradle, and Vim</div>
          <div>
            Created a robot using Java to compete in predetermined challenges
          </div>
        </div>
      </div>
    </section>
  </article>
</Layout>
<style>
  article.resume {
    max-width: 7.5in;
    margin: auto;

    grid-column: var(--column-full);

    font-family: monospace;
    line-height: 1.3em;

    & ul {
      margin-block: 0.25em;

      & li {
        margin-block: 0.2em;
      }
    }

    @media print {
      font-size: 14px;
      line-height: 16px;
      color: black;

      /* The default browser print adds its own margins, so turn ours off. */
      max-width: 7in;

      & a {
        text-decoration: none;
        color: black;
      }
    }
  }

  section {
    break-before: auto;
    break-inside: avoid;
  }

  h2 {
    text-transform: uppercase;
  }
  h3.company-name {
    font-size: 1em;
    font-style: italic;
  }

  .years {
    float: right;
    /* 20xx-20xx is 9 characters */
    width: 9ch;
  }
  .year {
    float: right;
    width: 4ch;
  }

  .skill-list,
  .job-title,
  .experience-description {
    margin-left: 2ch;
  }

  .introduction {
    display: flex;
    justify-content: space-between;

    & > address {
      text-align: right;

      /* leave some room for focus outline */
      & > div {
        padding-block: 2px;
      }
    }
  }

  @media not print {
    span::highlight(skill-callout) {
      /*
        light mode has less transparency because the contrast
        between yellow and black is already great
      */
      background-color: color-mix(
        in srgb,
        color-mix(in srgb, yellow, black 5%),
        transparent 50%
      );

      @media (prefers-color-scheme: dark) {
        background-color: color-mix(
          in srgb,
          color-mix(in srgb, yellow, black 10%),
          transparent 80%
        );
      }
    }
    span[data-highlight].highlight-enabled {
      cursor: pointer;
      text-decoration: underline;
      text-decoration-style: dotted;
      text-decoration-thickness: from-font;

      &:focus-visible {
        outline-offset: 1px;
        text-decoration: none;
        outline: 2px solid var(--secondary-link-color);
        border-radius: 3px;
      }
    }
  }
</style>
<script>
  const descriptors =
    document.querySelectorAll<HTMLSpanElement>("[data-highlight]");
  descriptors.forEach((descriptor) => {
    // gracefully enhance targeted elements
    // only when JS is enabled
    descriptor.tabIndex = 0;
    descriptor.ariaKeyShortcuts = "Space";
    descriptor.classList.add("highlight-enabled");

    const highlight = descriptor.dataset.highlight;
    const setter = () => {
      const ranges: AbstractRange[] = [];
      document
        .querySelectorAll(`[data-highlight-target~="${highlight}"]`)
        .forEach((target) => {
          console.debug("Highlighting", target);
          const range = new Range();
          range.selectNodeContents(target);
          ranges.push(range);
        });

      CSS.highlights.set("skill-callout", new Highlight(...ranges));
    };

    descriptor.addEventListener("click", setter);
    descriptor.addEventListener("keydown", (e) => {
      if (e.key !== " ") return;
      e.preventDefault();
      setter();
    });
  });
</script>
