.retro-letter {
  max-width: 7.5in;
  margin: auto;

  display: flex;
  flex-direction: column;
  grid-column: var(--column-full);
  gap: 1ch;

  font-family: var(--mono-font);
  line-height: 1.2em;
  font-weight: 500;

  & ul {
    margin: 0.25em;
  }

  @media print {
    font-size: 14px;
    line-height: 14px;
    color: black;

    & a {
      text-decoration: none;
      color: black;
    }

    /* The default browser print adds its own margins, so turn ours off. */
    width: 8.5in;
    margin: 0;
  }
}

.generic-section {
  display: contents;
  break-before: auto;
  break-inside: avoid;
}

.year {
  float: right;

  /* 20xx-20xx is 9 characters */
  width: 9ch;
}

.year--single {
  float: right;
  width: 5ch;
}

.section-prose {
  margin-left: 2ch;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > .year {
    margin-left: auto;
  }
}

.introduction {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  text-align: right;

  /* leave some room for focus outline */
  & > div {
    padding-block: 2px;
  }
}

.header {
  text-transform: uppercase;
  margin: 0;
  line-height: 1.1em;
}
